<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen.storyboard</string>
    <key>UIAppFonts</key>
    <array>
        <string>Jost-Thin.ttf</string>
        <string>Jost-ExtraLight.ttf</string>
        <string>Jost-Light.ttf</string>
        <string>Jost-Regular.ttf</string>
        <string>Jost-Medium.ttf</string>
        <string>Jost-SemiBold.ttf</string>
        <string>Jost-Bold.ttf</string>
        <string>Jost-ExtraBold.ttf</string>
        <string>Jost-Black.ttf</string>
        <string>Jost-ThinItalic.ttf</string>
        <string>Jost-ExtraLightItalic.ttf</string>
        <string>Jost-LightItalic.ttf</string>
        <string>Jost-Italic.ttf</string>
        <string>Jost-MediumItalic.ttf</string>
        <string>Jost-SemiBoldItalic.ttf</string>
        <string>Jost-BoldItalic.ttf</string>
        <string>Jost-ExtraBoldItalic.ttf</string>
        <string>Jost-BlackItalic.ttf</string>
    </array>
    
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>api.swipeairdev.com</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
        </dict>
    </dict>


</dict>
</plist>
